<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>База данных студентов</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <h1 class="block-effect" style="--td: 1.2s">
    <div class="block-reveal" style="--bc: #c2fbd7; --d: .1s">AITU</div>
    <div class="block-reveal" style="--bc: #ffffff; --d: .5s">College</div>
  </h1>
  
  
  <header>
    <a href="http://127.0.0.1:5000/login" class="animated-button">Админ</a>
  </header>
  <main>
    <a href="http://127.0.0.1:5000/form" class="animated-button">Ввести данные</a>
  </main>
</body>
</html>
